*{
	margin:auto;
}

body{
	background-image: url(image/back.jpg);
}


h1{
	text-align: center;
	font-family: arial;

}

.text{
	text-align: left;
	margin-left: 380px;
	margin-top: 50px;

}


.pedazos{
	height: 500px;
	width: 300px;
	float: left;
}

.rec1{

     width: 100px; 
     height: 50px; 
     border: 3px solid #555;
     background: #eeff2e;
     float: left;
     margin-top: 120px;
     margin-left: 400px;
}

.rec2{

     width: 100px; 
     height: 50px; 
     border: 3px solid #555;
     background: #1d9709;
     margin-top: 210px;
     margin-left: 400px;
}

.rec3{
	 width: 100px; 
     height: 50px; 
     border: 3px solid #555;
     background: #ef9800;
     margin-top: 40px;
     margin-left: 400px;

}

.rec4{
	 width: 100px; 
     height: 50px; 
     border: 3px solid #555;
     background: #ec431c;
     margin-top: 40px;
     margin-left: 400px;

}


.pedazos :hover{
	background: #84a6eb;


}

.circulo{
	
     width: 450px;
     height: 450px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #edd098;
     margin-bottom: 170px;
     margin-top: 100px;
     float: right;
     margin-right: 500px;
}

button{

	opacity: 0.5;
	border: none;
	width: 100px;
	height: 50px;
}

.bot1{

	opacity: 0.5;
	border: none;
	width: 100px;
	height: 50px;
	background: yellow;

}


.bot2{

	opacity: 0.5;
	border: none;
	width: 100px;
	height: 50px;
	background: #1d9709;

}

.bot3{
    opacity: 0.5;
	border: none;
	width: 100px;
	height: 50px;
	background: #ef9800;
}

.bot4{
	opacity: 0.5;
	border: none;
	width: 100px;
	height: 50px;
	background: #ec431c;

}


.rebanadashaw div{

float: left;
height: 225px;
width: 150px;
}


.reba1{
 
 background-image: url(hawai/reb1.png);
 float:left; 
 height:225px;
 width:150px;



}


.reba1:hover {
	opacity: 0.5;

}

.reba2{

 background-image: url(hawai/reb2.png);
 float:left; 
 height:225px;
 width:150px;



}


.reba2:hover {
	opacity: 0.5;

}
.reba3{

	 background-image: url(hawai/reb3.png);
 float:left; 
 height:225px;
 width:150px;



}
.reba3:hover {
	opacity: 0.5;

}
.reba4{

	 background-image: url(hawai/reb4.png);
 float:left; 
 height:225px;
 width:150px;



}

.reba4:hover {
	opacity: 0.5;

}
.reba5{

	 background-image: url(hawai/reb5.png);
 float:left; 
 height:225px;
 width:150px;



}

.reba5:hover {
	opacity: 0.5;
}

.reba6{

background-image: url(hawai/reb6.png);
 float:left; 
 height:225px;
 width:150px;


}


.reba6:hover {
	opacity: 0.5;

}

.rebanadasmex div{

float: left;
height: 225px;
width: 150px;
}


.reba7{
 
 background-image: url(mexicana/reb1mx.png);
 float:left; 
 height:225px;
 width:150px;



}


.reba7:hover {
	opacity: 0.5;

}

.reba8{

 background-image: url(mexicana/reb2mx.png);
 float:left; 
 height:225px;
 width:150px;



}


.reba8:hover {
	opacity: 0.5;

}
.reba9{

	 background-image: url(mexicana/reb3mx.png);
 float:left; 
 height:225px;
 width:150px;



}
.reba9:hover {
	opacity: 0.5;

}
.reba10{

	 background-image: url(mexicana/reb4mx.png);
 float:left; 
 height:225px;
 width:150px;



}

.reba10:hover {
	opacity: 0.5;

}
.reba11{


 background-image: url(mexicana/reb5mx.png);
 float:left; 
 height:225px;
 width:150px;



}

.reba11:hover {
	opacity: 0.5;
}

.reba12{

background-image: url(mexicana/reb6mx.png);
 float:left; 
 height:225px;
 width:150px;


}


.reba12:hover {
	opacity: 0.5;

}


.rebanadaspas div{

float: left;
height: 225px;
width: 150px;
}



.reba13{

 background-image: url(pastor/reb1pa.png);
 float:left; 
 height:225px;
 width:150px;



}


.reba13:hover {
	opacity: 0.5;

}
.reba14{

	 background-image: url(pastor/reb2pa.png);
 float:left; 
 height:225px;
 width:150px;



}
.reba14:hover {
	opacity: 0.5;

}
.reba15{

	 background-image: url(pastor/reb3pa.png);
 float:left; 
 height:225px;
 width:150px;



}

.reba15:hover {
	opacity: 0.5;

}
.reba16{


 background-image: url(pastor/reb5pa.png);
 float:left; 
 height:225px;
 width:150px;



}

.reba16:hover {
	opacity: 0.5;
}

.reba17{

background-image: url(pastor/reb6pa.png);
 float:left; 
 height:225px;
 width:150px;


}


.reba17:hover {
	opacity: 0.5;

}

.reba18{

background-image: url(pastor/reb4pa.png);
 float:left; 
 height:225px;
 width:150px;


}


.reba18:hover {
	opacity: 0.5;

}


.rebanadaspep div{

float: left;
height: 225px;
width: 150px;
}



.reba19{

 background-image: url(pepperoni/reb1pe.png);
 float:left; 
 height:225px;
 width:150px;



}


.reba19:hover {
	opacity: 0.5;

}
.reba20{

	 background-image: url(pepperoni/reb2pe.png);
 float:left; 
 height:225px;
 width:150px;



}
.reba20:hover {
	opacity: 0.5;

}
.reba21{

	 background-image: url(pepperoni/reb3pe.png);
 float:left; 
 height:225px;
 width:150px;



}

.reba21:hover {
	opacity: 0.5;

}
.reba22{


 background-image: url(pepperoni/reb5pe.png);
 float:left; 
 height:225px;
 width:150px;



}

.reba22:hover {
	opacity: 0.5;
}

.reba23{

background-image: url(pepperoni/reb6pe.png);
 float:left; 
 height:225px;
 width:150px;


}


.reba23:hover {
	opacity: 0.5;

}

.reba24{

background-image: url(pepperoni/reb4pe.png);
 float:left; 
 height:225px;
 width:150px;


}


.reba24:hover {
	opacity: 0.5;

}



